<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>All Shows</title>
    <style>
      .table {
        margin-left: 10px;
        font-size: medium;
      }
    </style>
</head>
<body>
  <p><h1>Display Shows</h1></p>
    <table>
        <thead>
          <th>ID</th>
          <th>Title</th>
          <th>Network</th>
          <th>Release</th>
          <th>Actions</th>
        </thead>

        
        <tbody>
        {% for show in all_shows %}
        <tr>
          <td>{{ show.id }}</td>
          <td>{{ show.title }}</td>
          <td>{{ show.network }}</td>
          <td>{{ show.release|date:'Y-m-d' }}</td>
          <td> 
            <a href="/shows/{{show.id}}">Show</a> |
            <a href="/shows/{{show.id}}/edit">Edit</a> | 
            <a href="/shows/{{show.id}}/delete">Delete</a>
          </td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>

    <a href="/shows/new">Add a New Show </a>
    
</body>

</html>