<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time_Display</title>
    <style>
        #box_1 {
            height: 40px;
            width: 246px;
            border: solid black 2px;
            margin-left: 100px;
            text-align: center;
        }
        #box_2 {
            height: 85px;
            width: 287px;
            border: solid black;
            margin-left: 74px;
            text-align: center;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</head>
<body><p>
    <div id="box_1">
    <h5>The Current Date and Time is:</h5>
    </div>
    </p>
    <br>

    <div id="box_2">
        <h2>
        {{month}}-{{date}}-{{year}}
        {{hour}}:{{minute}} {{AM_PM}}
    </h2>
</div>


</body>
</html>