<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Edit</title>
</head>
<body>
    <p><h1>Edit Id #{{ show.id }}</h1></p>
    <br>
    <form action="/shows/{{show.id}}/redirect" method="POST" class="col s12">
        {% csrf_token %}
    <p><h3>Title</h3> <input type="text" value = {{show.title}} name="title"> </p>
    <p><h3>Network</h3> <input type="text" value ={{show.network}} name="network"></p> 
    <p><h3>Release Date</h3> <input type="date" value= {{show.release|date:'Y-m-d'}} name="release"></p>
    <p><h3>Description</h3> <textarea rows="10" cols="50" value={{ show.desc }} name="desc"></textarea></p>
    <input type="submit" value="Update">
    </form>
</body>
</html>